{% extends "lara_base.html" %}
{% load static %}
{% block title %}Substances-Overview{% endblock %}

{% block top %}
  <h1> LARA Substances</h1>
  <p> </p>
{% endblock %}

{% block main_content %}
{% if substance_list %}
   <table class="report">
   <caption>{{ table_caption }}</caption>
   <thead>
       <tr>
          <th rowspan=2 > Name </th>
          <th rowspan=2 > GHS-Symbols </th>
          <th rowspan=2 > Hazard Statements ( H ) </th>
          <th rowspan=2 > Location in Lab </th>
          <th rowspan=2 > Amount [ml] </th>
          <th rowspan=2 > Safety Sheet </th>
       </tr>
   </thead>
   <tbody>
    {% for item in substance_list %}
       <tr>
           <td><a href="{% url 'lara_substances:substance-detail' item.substance_id %}" title="{{ item.name }} ({{ item.acronym }})" > {{ item.name }}   </a> </td>
           <td> {{ hazard_symbols}} </td>
           <td> {{ item.hazard_statements }} </td>
           <td> {{ item.location.location.name }} </td>
           <td> {{ item.amount_vol }} / {{ item.amount_mass }}  </td>
           <td>
               <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{item.PubChemID}}#datasheet=lcss&section=GHS-Classification" alt="{{ item.name }}">
                {{ item.name }}
                </a>
           </td>
       </tr>
    {% endfor %}
   </tbody>
   </table>

{% else %}
    <p>No substances are available.</p>
{% endif %}

{% endblock %}
