{% extends "lara_base.html" %}
{% load static %}
{% block title %}Substances-Overview{% endblock %}

{% block top %} 
  <h1> LARA Substance add</h1>
  <p> </p> 
{% endblock %}

{% block main_content %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

{% endblock %}