{% extends "lara_base.html" %}
{% load static %}
{% block title %}Substances-Overview{% endblock %}

{% block top %} 
  <h1> LARA Substance Browser</h1>
  <p> </p> 
{% endblock %}

{% block main_content %}

<link rel="stylesheet" type="text/css" href="/static/js/ChemDoodleWeb.css" />

<script type="text/javascript" src="/static/js/ChemDoodleWeb-libs.js"></script>
<script type="text/javascript" src="/static/js/ChemDoodleWeb.js"></script>
{% if mollist.has_previous %}

{% else %}
<div class="alert-box">
<div class="row">
<strong>Number of molecules: {{ofmols}}</strong>
</div>
</div>
{% endif %}

{% for mol in mollist %}

<div id="mol{{mol.id}}" class="row">
    <fieldset>
        <legend><a href="/molecule/{{mol.id}}"><h3><i class="icon-beaker"></i> {{mol.name}}</h3></a></legend>
        <div class=row>
        <div class="large-2 columns">
            <a href="/molecule/{{mol.id}}">
            <script>
            var viewACS = new ChemDoodle.ViewerCanvas('{{mol.id}}', 150, 150);
            viewACS.specs.bonds_width_2D = .6;
            viewACS.specs.bonds_saturationWidth_2D = .18;
            viewACS.specs.bonds_hashSpacing_2D = 2.5;
            viewACS.specs.atoms_font_size_2D = 10;
            viewACS.specs.atoms_font_families_2D = ['Helvetica', 'Arial', 'sans-serif'];
            viewACS.specs.atoms_displayTerminalCarbonLabels_2D = true;
            var caffeineMolFile = '{{mol.molfile}}';
            var caffeine = ChemDoodle.readMOL(caffeineMolFile);
            caffeine.scaleToAverageBondLength(14.4);
            viewACS.loadMolecule(caffeine);
            </script>
            </a>
        </div>
        <div class="large-9 columns left">
        <table>
        <thead>
            <tr>
            <th><abbr title="Molecular weight">MW</abbr></th>
            <th><abbr title="Hydrogen bond acceptors">HBA</abbr></th>
            <th><abbr title="Hydrogen bond donors">HBD</abbr></th>
            <th><abbr title="Logarithm of partition coefficient">LogP</abbr></th>
            <th>CAS</th>
            <th>Suppliers</th>
            <th>Supplier IDs</th>
            <th>Storage ID</th>
            <th>Quantity</th>
            <th>Class</th>
            <th>PAINS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{mol.CMW|floatformat:2}}</td>
            <td>{{mol.HBA}}</td>
            <td>{{mol.HBD}}</td>
            <td>{{mol.logP|floatformat:2}}</td>
            <td>{{mol.CAS}}</td>
            <td>{{mol.supplier}}</td>
            <td>{{mol.supplierID}}</td>
            <td>{{mol.storageID}}</td>
            <td>{{mol.amount}} {{mol.unit}}</td>
            <td>{{mol.molclass}}</td>
            <td>{{mol.pains}}</td>
            </tr>
        </tbody>
        </table>
        <p><strong><abbr title="Simplified Molecular-Input Line-Entry System">SMILES</abbr>:</strong> {{mol.SMILES}}</p>
        </div>
        </div>
    </fieldset>
</div>
{% endfor %}
    

</div>

{% endblock %}
