{% extends "lara_base.html" %}

{% block title %}search-results{% endblock %}

{% block top %} 
  <h1> Substance Search Results </h1>
  <p>  </p> 
{% endblock %}

{% block main_content %}
{% if substance_list %}
    <ul>
    {% for item in substance_list %}
       <li><a href="{% url 'lara_substances:substance-detail' item.substance_id %}" title={{ item.name }}> {{ item.name }} ({{ item.acronym }}) </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No matching substances found.</p>
{% endif %}

{% endblock %}

