<!DOCTYPE html>
<html lang="en-us">

{% load static %}
<head>
  <meta charset="utf-8">                
  <link rel="stylesheet" type="text/css" href="{% static "base_stylesheet.css" %}" media="screen">
  
</head>

<body>
    <div id="site-wrapper"> 
        <div class=title > <center><h1>LARA menu </h1></center></div>   
        <div class="main">  
             <div class="menu_item">
              <a href="substances">
                  <img style="width:200px" src="{% static "substances_icon.svg" %}" title="Substances" alt="substances">
              </a>
            </div>

        </div>
    </div>
</body>
</html>
