{# project's base template #}

{#% load sitetree %#}
{#% sitetree_menu from "maintree" include "trunk,1,level1" %#}
{#% sitetree_breadcrumbs from "maintree" %#}
{#% load staticfiles %#}

{% load static %} 

<!DOCTYPE html> 

<html lang="en">             
<head>         
  <meta charset="utf-8">              
  
  <title>{% block title %}{% endblock %}</title>             
  <style >             
  </style> 
      <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen">
    <!-- Custom LARA CSS --> 
    <link rel="stylesheet" type="text/css" href="{% static "css/base_stylesheet.css" %}" media="screen">
    
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">

{% block head %}  
{% endblock %}  
  
</head>

<body> 
 <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="tabbed">
                      <li id="home" ><a href="/" > Home  </a></li> 
                      <li id="admin"><a  href="/admin" > Admin </a></li>
                      <li><a id="up-button" href="/"> up </a></li>
                      <li><a id="back-button" href="/"> back </a></li>
                      <li><a id="next-button" href="/"> next </a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">quick-menu: </span><span class="value">Experiments </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Experiments</a></li>
                                    <li><a href="#">Substances</a></li>
                                    <li><a href="#">Containers</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language: </span><span class="value">English </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Russian</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->
    
<div id="site-wrapper"> 
  <header id="header"> {% block header %}
    <div id="top"> {% block top %}{% endblock %} </div>
    {% endblock%}
  </header>

  <div id="sidebar"> {% block sidebar_content %}{% endblock %} </div>

  <div class="main">
    {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% block main_content %}{% endblock %} 
  </div>

  <div id="footer">  {% block footer %}
       <p align="center"> Last page update - : {{page_last_update}} generated by LARA </p>
    {% endblock %}
  </div> 
  <div class="clearer">&nbsp;</div>
</div> <!-- End site-wrapper -->

<div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2><span>LARA</span></h2>
                        <p>LARA - Laboratory Automation Robotic Assistant</p>
                        <div class="footer-social">
                            <a href="http://lara.uni-greifswald.de" target="_blank"><i class="lara-web"></i></a>
                            <a href="https://github.com/LARAsuite" target="_blank"><i class="laraSuite-web"></i></a>
                            <a href="https://github.com/LARAsuite/lara-django" target="_blank"><i class="lara-django-web"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Navigation </h2>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/projects">Projects/Experiments</a></li>
                            <li><a href="/substances">Substances</a></li>
                            <li><a href="/devices">Devices</a></li>
                            <li><a href="/labstore">Labstore</a></li>
                            <li><a href="/ordering">Ordering</a></li>
                            <li><a href="/processes">Processes</a></li>
                            <li><a href="/people">Users/People</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            {% for category in category_footer %}
                                <li><a href="{% url 'shop' category.slug %}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Registration</h2>
                        <p>Sign up to register at LARA</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                        <h2 class="footer-wid-title">Documentation</h2>
                        <a href="/about">LARA documentation</a>
                        <h2 class="footer-wid-title">About</h2>
                        <a href="/about">About Lara</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; LARA <a href="http://lara.uni-greifswald.de" target="_blank">lara.uni-greifswald.de</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
</body>
</html>
