{% extends "lara_base.html" %}

{% load static %}


{% block head %}  

<link href="{% static "css/lara_substances.css" %}"  rel="stylesheet">
<link href="{% static "js/ChemDoodleWeb.css" %}"  rel="stylesheet">

<script type="text/javascript" src="{% static "js/ChemDoodleWeb.js" %}" ></script>
<script type="text/javascript" src="{% static "js/structure_window.js" %}" ></script>

<script type="text/javascript" src="{% static "js/smiles-drawer.min.js" %}" ></script>

{% endblock %}  