{% extends "lara_base.html" %}
{% load static %}
{% block title %}Substances-Search{% endblock %}

{% block top %} 
  <h1> LARA Substance search</h1>
  <p> </p> 
{% endblock %}

{% block main_content %}
<link href="{% static "js/ChemDoodleWeb.css" %}"  rel="stylesheet">

<script type="text/javascript" src="{% static "js/ChemDoodleWeb.js" %}" ></script>
<script type="text/javascript" src="{% static "js/structure_window.js" %}" ></script>

<link rel="stylesheet" href="{% static "js/uis/jquery-ui-1.11.4.css" %}" type="text/css">
<script type="text/javascript" src="{% static "js/uis/ChemDoodleWeb-uis.js" %}"></script>

<div name="sketcher">
  <script>
    // changes the default JMol color of hydrogen to black so it appears on white backgrounds
    ChemDoodle.ELEMENT['H'].jmolColor = 'black';
    // darkens the default JMol color of sulfur so it appears on white backgrounds
    ChemDoodle.ELEMENT['S'].jmolColor = '#B9A130';
    // initializes the SketcherCanvas
    let sketcher = new ChemDoodle.SketcherCanvas('sketcher', 800, 400, { useServices: true, oneMolecule: false, requireStartingAtom: false });
    // var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300, { useServices: false, oneMolecule: true }, ChemDoodle.featureDetection.supports_touch(), true);
    // sets terminal carbon labels to display
    sketcher.styles.atoms_displayTerminalCarbonLabels_2D = true;
    // sets atom labels to be colored by JMol colors, which are easy to recognize
    sketcher.styles.atoms_useJMOLColors = true;
    // enables overlap clear widths, so that some depth is introduced to overlapping bonds
    sketcher.styles.bonds_clearOverlaps_2D = true;
    sketcher.specs.bonds_overlapClearWidth_2D = 2;
    // sets the shape color to improve contrast when drawing figures
    sketcher.styles.shapes_color = 'c10000';
    // because we do not load any content, we need to repaint the sketcher, otherwise we would just see an empty area with the toolbar
    // however, you can instead use one of the Canvas.load... functions to pre-populate the canvas with content, then you don't need to call repaint
    sketcher.repaint();

    function getmol() {
      var mol = sketcher.getMolecule();
      var mol2 = ChemDoodle.writeMOL(mol);
      document.getElementById('id_moltext').value = mol2;
      $("#molfromeditor").css('backgroundColor', '#5da423');
    }
  </script>
</div>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search">
</form>




{% endblock %}